<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymou">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymou">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    
    <!---our custom css style sheet-->
   
    <title>Home-GLOBAL</title>
  </head>
  <!----
    xs<576 |576<sm<768 |768<md<998 |998<ls1200 |1200<xl
  --->
  <body>
   <!-- start: header section-->   
    <header>
      <div class="pb-1" id="topheader">
        <div class="container">
          <div class="row">
            <div class="col-12 text-right ">
              <a href=""> <i class="fas fa-phone"></i> +(91) 8056094189</a> &nbsp;&nbsp;
              <a href="mailto:murugan.mk@gmail.com"><i class="fas fa-envelope-open"></i>  +murugan.mk@gmail.com</a> 
            </div>
          </div>
        </div>
      </div>
      <div class="" id="bottomheader">
        <div class="container-fluid">
          <nav class="navbar navbar-dark  navbar-expand-md" style="background-color:#2980b9">
            <a class="navbar-brand " href="">
              <img src="assets/img/global.jpg" alt="" width="30px"  >
            </a>
            <button data-toggle="collapse" data-torget="#navbarToggler" type="button" class="navbar-toggler"><span class="navbar-toggler-icon"> </span> </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class= "navbar-nav">
  
              <li class="nav-item ">
                <a class ="nav-link" href="app.component.html">Home</a>
              </li>
              <li class="nav-item dropdown">
                  <a class ="nav-link dropdown-toggle" data-toggle="dropdown" role="button " href="#">services</a>
               <div class="dropdown-menu">
                  <a class ="dropdown-item" href="web designing.html">web designing</a>
                  <a class ="dropdown-item" href="web development.html">web development</a>
                  <a class ="dropdown-item" href="sos services.html">sos services</a>
                  <a class ="dropdown-item" href="software development.html">software development</a>
                  <a class ="dropdown-item" href="mobileapp development.html">mobileapp development</a>
                <div class="dropdown-divider">

                </div>
                  <a class ="dropdown-item"  href="#">Graphic designing</a>
               </div>
                </li>
                <li class="nav-item">
                    <a class ="nav-link" href="portfolio.html">portfolio</a>
                  </li>
                  <li class="nav-item">
                      <a class ="nav-link" href="about us.html">about us</a>
                    </li>
                    <li class="nav-item">
                        <a class ="nav-link" href="contact us.html">contact us</a>
                      </li>
                    
            </ul>
          </div>
          </nav>
        </div>
      </div>
    </header>
  <!-- end: header section-->


<!--- start: home page header section--->
    
    <section class="top-hero-section ">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-xl-5">
          <h4>Welcome to Global </h4>
          <h5>Home to some of the UK's best-loved 
              radio stations such as Heart  </h5> 

     <button class="btn btn-primary btn-lg">Get Started</button>
              <a href="">..read more..</a>
                </div> 
                
                  <div class="col-xl-5 ">
                 <img class="img-fluid" src ="assets/image/people.jpg" alt="" width="150" > 
                 </div>  
             
            </div>
        </div>
    </section>
    
   <!-- end:  home page header section-->


   <!-- start:  home page 2nd section-->
<section class ="pt-3 pb-4">
  <div class="container">
    <div class="row">
<div class="col-12 text-center">
  <h3> Lots of compaines town, why you choose us</h3>
</div>
<hr>
    </div>
<div class="row">
  <div class="col-md-4 text-center ">
      <img  src ="assets/image/global.svg" alt="" width="30" > 
      <h5>Customized requirment</h5>
      <p>Every ideas is unique and why will craft</p>
  </div>
  <div class="col-md-4 text-center ">
      <img  src ="assets/image/asd.svg" alt="" width="30" > 
      <h5>Server uptime</h5>
      <p>Every ideas is unique and why will craft</p>
  </div>
  <div class="col-md-4 text-center ">
      <img src ="assets/image/qiuck.svg" alt="" width="30" > 
      <h5>Quick support</h5>
      <p>Every ideas is unique and why will craft</p>
  </div>
</div>
   

    <div class="row">
        <div class="col-md-4 text-center ">
            <img  src ="assets/image/ass.png" alt="" width="30" > 
            <h5>Quality assurance</h5>
            <p>Every ideas is unique and why will craft</p>
        </div>
        <div class="col-md-4 text-center ">
            <img  src ="assets/image/del.svg" alt="" width="30" > 
            <h5>Delivery time</h5>
            <p>Every ideas is unique and why will craft</p>
        </div>
        <div class="col-md-4 text-center ">
            <img src ="assets/image/mon.svg" alt="" width="30" > 
            <h5>value of money</h5>
            <p>Every ideas is unique and why will craft</p>
        </div>
    </div>
  </div>
</section>

   <!-- end:  home page 2nd section-->

   <!-- start: homepage 3rd section-->

   <section class="requirments-section pt-1 pb-1 p-md-3 p-md-3 ">
     <div class="container">
       <div class="row text-center">
         <div class="col-md-9">
<h3> Do you have any requirment? we can for you </h3>
         </div>
         <div class="col-md-3">
           <button class="btn btn-lg btn-primary">Get Started</button>
          </div>
       </div>
     </div>
   </section>
   <!-- end: homepage 3rd section-->


<!-- start: homepage 4th section  about-->
   <section class="p-2 pt-md-4 pb-md-4 ">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-6">
 <h2> About global</h2>
 <h6>In this bootstrap portfolio website development tutorial
   , we complete the development of the homepage of the portfolio website.
    This is part 2 of the homepage design</h6>
    <button class="btn btn-lg btn-primary">Read more</button>
          </div>
          <div class="col-md-6">
              <img class="img-fluid" src ="assets/image/people.jpg" alt="" width="150" > 
           </div>
        </div>
      </div>
    </section>
<!-- end: homepage 4th section newsletter-->


<!-- start: homepage 5th section  newsletter-->
<section class="home-newsletter">
<div class="row">
  <div class="col-12  text-center">
<h3>Subscribe News Letter</h3>
<div class="input-group pb-3">
  <input type="email" class="form-control" placeholder="Enter your email" >
<span class="input-group-btn">
<button class="btn btn-theme" type="submit"> subscribe</button>

</span>
</div>
  </div>
</div>
</section>

<!-- end: homepage 5th section  about-->



<!-- start:  home page 6th section-->
<section class =" home-sevices pt-3 pb-4">
    <div class="container">
      <div class="row">
  <div class="col-12 text-center">
    <h3> our best in class services</h3>
  </div>
  <hr>
      </div>
  <div class="row">
    <div class="col-md-4 text-center ">
        <img  src ="assets/image/web.png" alt="" width="30" > 
        <h5>Web designing</h5>
        <p>Every ideas is unique and why will craft</p>
    </div>
    <div class="col-md-4 text-center ">
        <img  src ="assets/image/webd.svg" alt="" width="30" > 
        <h5>Web development</h5>
        <p>Every ideas is unique and why will craft</p>
    </div>
    <div class="col-md-4 text-center ">
        <img src ="assets/image/sos.svg" alt="" width="30" > 
        <h5>sos service</h5>
        <p>Every ideas is unique and why will craft</p>
    </div>
  </div>
     
  
      <div class="row">
          <div class="col-md-4 text-center ">
              <img  src ="assets/image/sw.png" alt="" width="30" > 
              <h5>Software development</h5>
              <p>Every ideas is unique and why will craft</p>
          </div>
          <div class="col-md-4 text-center ">
              <img  src ="assets/image/mobile.svg" alt="" width="30" > 
              <h5>Mobile development</h5>
              <p>Every ideas is unique and why will craft</p>
          </div>
          <div class="col-md-4 text-center ">
              <img src ="assets/image/graph.png" alt="" width="30" > 
              <h5>Graphic design</h5>
              <p>Every ideas is unique and why will craft</p>
          </div>
      </div>
    </div>
  </section>
  
     <!-- end:  home page 6th section-->


  <!-- start:  home page 7th section clients-->
<section class =" clients-section pt-3 pb-4">
  <div class="container">
    <div class="row">
<div class="col-12 text-center">
  <h3> some of our trusted clients</h3>
</div>
<hr>
    </div>
    
<div class="row">
  <div class="col-md-2 col-6 ">
    <img  class="image-fluid feature-img p-2"src ="assets/image/Apple.svg" alt=""  width="100" > APPLE  
     </div> 
     <div class="col-md-2 col-6">
      <img  class="image-fluid feature-img p-2"src ="assets/image/yahoo.jpg" alt=""  width="100" > 
    </div> 
    <div class="col-md-2 col-6">
      <img  class="image-fluid feature-img p-2"src ="assets/image/netflex.jpg" alt=""  width="100" >  
    </div> 
    <div class="col-md-2 col-6 ">
      <img  class="image-fluid feature-img p-2"src ="assets/image/infosys.jpg" alt=""  width="100" > 
    </div> 
    <div class="col-md-2 col-6 ">
      <img  class="image-fluid feature-img p-2"src ="assets/image/google.jpg" alt=""  width="100" > 
    </div> 
  </div>

</div>
    
</section>

   <!-- end:  home page 7th section clients-->
  


<!-- start: footer section-->

     <footer class="full-footer">
       <div class="container top-footer  ">
         <div class="row">
           <div class="col-md-3">
             <img class ="img-fluid" src="assets/img/global.jpg" width="50px" alt="">
             <p>
                Home to some of the
                 UK's best-loved 
                radio stations
                 such as Heart. 

                 </p> 
                 <a href="#">.. Read more..</a>
                <a href="#"> <i class="fab fa-2x fa-apple"></i></a>  
                <a href="#"><i class="fab  fa-2x fa-twitter"></i> </a>
           </div>
        
        <div class="col-md-3 ">
           <h3> important links </h3>
           <a href="#">privacy policy</a> <br>
           <a href="#">channel links</a> <br>
          
           
         </div>
        
        <div class="col-md-3">
            <h3> Our Services </h3>
            <a href="web development.html">web development</a> <br>
            <a href="web designing.html">web design</a> <br>
           
            
    </div>
        
         <div class="col-md-3">
            <h3> Contact us </h3>
            <a href="#"><i class="fas fa-phone"></i> +(91) 8056094189</a> <br>
            <a href="mailto:murugan.mk@gmail.com"><i class="fas fa-envelope-open-text"></i> +murugan.mk@gmail.com</a> <br> 
            
         </div>
       </div>
       </div>
    <div class="container-fluid bottom-footer">
     <div class="row">
       <div class="col-12 text-center">
         <p> copy right @2018 All right-reserved</p>
       </div>
     </div>
    </div>
     </footer> 
    <!-- end: footer section--> 

    <!-- Optional JavaScript -->
   

    
   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
