<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymou">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymou">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    
    <!---our custom css style sheet-->
   
    <title>GLOBAL</title>
  </head>
  <!----
    xs<576 |576<sm<768 |768<md<998 |998<ls1200 |1200<xl
  --->
  <body>
    <header>
      <div class="pb-1" id="topheader">
        <div class="container">
          <div class="row">
            <div class="col-12 text-right ">
              <a href=""> <i class="fas fa-phone"></i> +(91) 8056094189</a> &nbsp;&nbsp;
              <a href=""><i class="fas fa-envelope-open"></i>  +abc@gmail.com</a> 
            </div>
          </div>
        </div>
      </div>
      <div class="" id="bottomheader">
        <div class="container-fluid">
          <nav class="navbar navbar-dark  navbar-expand-md" style="background-color:#2980b9">
            <a class="navbar-brand " href="">
              <img src="assets/img/global.jpg" alt="" width="30px"  >
            </a>
            <button data-toggle="collapse" data-torget="#navbarToggler" type="button" class="navbar-toggler"><span class="navbar-toggler-icon"> </span> </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class= "navbar-nav">
  
              <li class="nav-item">
                <a class ="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item dropdown">
                  <a class ="nav-link dropdown-toggle" data-toggle="dropdown" role="button " href="#">services</a>
               <div class="dropdown-menu">
                  <a class ="dropdown-item"  href="#">web designing</a>
                  <a class ="dropdown-item"  href="#">web development</a>
                  <a class ="dropdown-item"  href="#">sos services</a>
                  <a class ="dropdown-item"  href="#">software development</a>
                  <a class ="dropdown-item"  href="#">mobileapp development</a>
                <div class="dropdown-divider">

                </div>
                  <a class ="dropdown-item"  href="#">Graphic designing</a>
               </div>
                </li>
                <li class="nav-item">
                    <a class ="nav-link" href="#">portfolio</a>
                  </li>
                  <li class="nav-item">
                      <a class ="nav-link" href="#">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class ="nav-link" href="#">Contact us</a>
                      </li>
                    
            </ul>
          </div>
          </nav>
        </div>
      </div>
    </header>
     <footer class="full-footer">
       <div class="container top-footer p-md-3 p-1">
         <div class="row">
           <div class="col-md-3">
             <img class ="img-fluid" src="assets/img/global.jpg" width="50px" alt="">
             <p>
                Home to some of the UK's best-loved 
                radio stations such as Heart, 
                Capital and Classic FM, 
                 we keep 25.2 million* listeners 
                 tuned in and entertained each week.
                </p> 
                 <a href="#">.. Read more..</a>
                <a href="#"> <i class="fab fa-2x fa-apple"></i></a>  
                <a href="#"> <i class="fab fa-2x fa-facebook-square"></i></a>
                <a href="#"><i class="fab  fa-2x fa-twitter"></i> </a>
           </div>
        
        
        
         <div class="col-md-3">
           <h3> important links </h3>
           <a href="#">privacy policy</a> <br>
           <a href="#">channel links</a> <br>
           <a href="#">blog article</a> <br>
           <a href="#">social media</a> <br>
         </div>
        
        
         <div class="col-md-3">
            <h3> Our Services </h3>
            <a href="#">web development</a> <br>
            <a href="#">web design</a> <br>
            <a href="#">sos service</a> <br>
            <a href="#">social media</a> <br>
    </div>
        
         <div class="col-md-3">
            <h3> Contact us </h3>
            <a href="#"><i class="fas fa-phone"></i> +(91) 8056094189</a> <br>
            <a href="#"><i class="fas fa-envelope-open-text"></i> +abc@gmail.com</a> <br> 
            
         </div>
       </div>
       </div>
    <div class="container-fluid bottom-footer">
     <div class="row">
       <div class="col-12 text-center">
         <p> copy right @2018 All right-reserved</p>
       </div>
     </div>
    </div>
     </footer> 
    
    <!-- Optional JavaScript -->
   

    
   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
